/*Main CSS*/
.hidden {
	display: none;
}

div#header {
	height: 90px;
	background-color: #000000;
	border-bottom: 3px solid #92d400;
	position: relative !important;
	min-width: 77em;
}

div#header h4 {
	color: #DDDDDD;
	font-weight: normal;
}

#canvas {
	position: absolute;
}

div#container {
	margin: 0px auto;
}

.change_width {
	width: 40%;
	text-align: center;
}

div#header img {
	float: left;
	margin: 10px 10px 10px 200px;
}

div#login-area {
	float: right;
	margin: 50px 250px 5px 10px;
}

ul#topnav-bar {
	background-color: #ffffff;
	border-bottom: 1px solid #464646;
	float: left;
	height: 60px;
	list-style-type: none;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100%;
	min-width: 77em;
}

#topnav-bar li {
	display: inline-block;
	margin-right: 3px;
	padding: 0;
}

a.topnav-link {
	display: block;
	width: 145px;
	padding-top: 10px;
}

div.topnav-linkimg {
	width: 50px;
	height: 50px;
	float: left;
}

div.topnav-linkimg img {
	border: 0px;
}

div.topnav-linktext {
	float: left;
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	width: 60px;
}

li#campusDetails {
	
}

li.active-link a.topnav-link h5 {
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 5px
}

li.active-link {
	background-color: #92d400;
}
/*mod-container should always precede active-module*/
div.mod-container {
	width: auto;
	height: auto;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	min-height: 1000px;
}

div.active-module {
	display: block;
}

div.inactive-module {
	display: none;
}
/*mod-container should always precede active-module*/
.loginform ul {
	padding: 0;
	margin: 0;
}

.loginform li {
	list-style-type: none;
}

div#login {
	background-color: #FFFFFF;
	min-height: 270px;
	height: auto !important;
	height: 270px;
	width: 400px;
	border: 1px solid #000000;
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

div#login li {
	margin: 5px;
}

div#logintitle {
	padding: 10px;
	height: 40px;
	background-color: #002776;
	display: block;
}

div#logintitle h2 {
	font-size: 2em;
	color: #FFFFFF;
	float: left;
	margin-bottom: 0px;
}

div#logintitle img {
	float: right;
	display: inline;
}

div#login-body {
	padding-right: 18%;
	max-width: 100%;
	width: auto !important;
	overflow: auto;
	display: block;
}

form#login-form {
	float: right;
	display: block;
}

input.primary-button {
	background: none repeat scroll 0 0 #4c4c4c;
	border: 0 none;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-size: 1.1em;
	margin: 10px;
	padding: 5px 25px;
}

input.secondary-button {
	float: right;
	margin: 10px;
	cursor: pointer;
	padding: 5px 25px;
	background: #4C4C4C;
	border: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 1.1em;
}

h4#not-logged-in {
	display: none;
}

div.campus-dropdown {
	margin: 10px;
	padding: 10px;
}

li#button-row {
	height: 30px;
	padding: 5px 0px;
	overflow: none;
}

input#login-button {
	background: none repeat scroll 0 0 #002776;
	border: 0 none;
	border-radius: 2px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 1.1em;
	margin: 10px 0px 10px 10px;
	padding: 5px 25px;
}

input#cancel-button {
	background: none repeat scroll 0 0 #4C4C4C;
	border: 0 none;
	border-radius: 2px;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 1.1em;
	margin: 10px 10px 10px 0px;
	padding: 5px 25px;
}

ul {
	list-style-type: none;
}

div#campus-details-container {
	margin: 10px;
}

div#campus-details-container.emptyForm>div#campus-form-container>div {
	display: none;
}

div#campus-form-container {
	display: none;
}

div#campus-details {
	display: block;
	overflow: auto;
	min-height: 600px;
}

div.emptyForm {
	border: 3px dashed #AAAAAA !important;
	text-align: center;
}

div.emptyForm  p {
	margin: 26% 10% !important;
	font-size: 40px;
	font-weight: bold;
	color: #AAAAAA;
}

div.chosen-container a span, div.chosen-drop ul li {
	font-size: 16px;
}

div#selectCampus_chosen ul.chosen-results li:first-child, option.placeholder
	{
	color: #AAAAAA !important;
}
/* To be replaced with .logospace*/
div#logospace {
	width: 200px;
	height: 200px;
	background-color: #337ab7;
	padding: 75px 0;
}

div#logospace h3 {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 25px;
	margin: 10px 5px;
	text-align: center;
}

div#logospace img {
	display: none;
}

.logospace img {
	display: none;
}

input#campuslogo, input#candimg {
	margin: 5px 10px 5px 10px;
	cursor: pointer;
	padding: 5px 5px;
	background: #002776;
	border: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 1.1em;
}

#logotrigger, #candimgtrigger {
	padding: 10px;
	margin: 5px 0px 5px 0px;
	width: 180px;
	text-align: center;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#logotrigger:hover, #candimgtrigger:hover {
	background: #333;
	cursor: pointer;
}

select#hire-years {
	margin: 10px 0px;
	width: 100px;
}

div#left-col li h3, ,div#bottom-col li h3 {
	text-decoration: underline;
	font-weight: bold;
}

div#right-col li h3 {
	text-decoration: underline;
	font-weight: bold;
}

input.element {
	margin: 5px 0px;
	padding: 5px;
	width: 280px;
}

li#cam-hir-stats h3 {
	display: inline;
}

div#hire_years_chosen a, div#hire_years_chosen div.chosen-drop {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}

li#cam-hir-stats {
	margin-bottom: 14px;
}

div#hire_years_chosen {
	margin-left: 10px;
}

input#camp-cancel-button {
	display: none;
}

div#hire_years_chosen div.chosen-drop {
	overflow: hidden;
	height: auto;
}

div#candidateDetails {
	margin: 20px 10px 10px 10px;
	padding: 10px;
	border: 1px solid #AAAAAA;
	overflow: hidden;
	height: auto;
}

li#other-plct {
	margin-top: 10px;
}

li#stud-det {
	margin-top: 25px;
}
/*Candidate Details Table Styling*/
div.dataTables_length {
	float: left;
	background-color: #FFFFFF;
	border: 0px solid #AAAAAA;
	color: ##666666;
	margin: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.dataTables_filter {
	margin: 5px;
	float: right;
	background-color: #FFFFFF;
	color: ##666666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.dataTables_filter input {
	padding: 3px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.dataTables_info {
	margin: 5px;
	float: left;
	background-color: #FFFFFF;
	/*border: 1px solid #AAAAAA;*/
	color: ##666666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-style: italic;
}

div.dataTables_paginate {
	margin: 5px;
	float: right;
	color: #AAAAAA;
}

div.dataTables_length, div.dataTables_filter, div.dataTables_paginate,
	div.dataTables_info {
	padding: 6px;
}

table#candidates, table#currentpanelistListProjectTable, table#recruiterListProjectTable,
	.dataTable {
	width: 100% !important;
	clear: both;
	/*border-bottom:1px solid #4c4c4c;*/
	padding: 10px 0px;
}

table#gdRec, table#interviewRec, table.panelistTable {
	width: 100% !important;
	clear: both;
	border-top: 1px solid #4c4c4c;
	/*border-bottom:1px solid #4c4c4c;*/
	padding: 10px 0px;
}
/* Self clearing - */
div.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .dataTables_wrapper {
	display: block;
}

* html .dataTables_wrapper {
	height: 1%;
}

.dataTable th, table#candidates td, table#candidates th, table#recruiterListProjectTable th,
	#currentpanelistListProjectTable td, #currentpanelistListProjectTable th,
	table.panelistTable td, table.panelistTable th {
	padding: 5px;
}

.dataTable td, table#panelistListProjectTable td, table#panelistListProjectTable th,
	table#recruiterListProjectTable th, table#recruiterListProjectTable td
	{
	padding: 5px;
	border: 1px solid #fff;
}
/* Header cells */
.dataTable thead th, table#panelistListProjectTable thead th, table.panelistTable thead th,
	table#recruiterListProjectTable thead th {
	text-align: center;
	background: #0079a6;
}
/* Body cells */
.dataTable tbody th, table#panelistListProjectTable tbody th, table.panelistTable tbody th,
	table#recruiterListProjectTable tbody th {
	text-align: left;
	background: #91c5d4;
}

.dataTable tbody td, table#panelistListProjectTable tbody td, table.panelistTable tbody td,
	table#recruiterListProjectTable tbody td {
	text-align: center;
	/* background: #d5eaf0; */
}

.dataTable tbody tr.even td, table#panelistListProjectTable tbody tr.even td,
	table#recruiterListProjectTable tbody tr.even td {
	background: #FFFFFF;
	border-top: 1px solid #AAAAAA;
}

.dataTable tbody tr.odd td, table#panelistListProjectTable tbody tr.odd td,
	table#recruiterListProjectTable tbody tr.odd td {
	background: #E7E7E7;
	border-top: 1px solid #AAAAAA;
}

.dataTable tbody tr:last-child, table#panelistListProjectTable tr:last-child,
	table#recruiterListProjectTable tr:last-child {
	border-bottom: 1px solid #AAAAAA;
}

.dataTable tbody tr.gradeX td, table#panelistListProjectTable tr.gradeX td,
	table#recruiterListProjectTable tr.gradeX td {
	border-bottom: 1px solid #AAAAAA;
}

div.dataTables_wrapper {
	background-color: #FFFFFF;
	/*border: 1px solid #AAAAAA;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    
    border-bottom:none;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;*/
	padding: 0px 5px;
}

table#panelistListProjectTable thead th.sorting_asc, table#recruiterListProjectTable thead th.sorting_asc
	{
	background: #1E1E1E url('../images/sort_asc.png') no-repeat right center;
	color: #FFFFFF;
}

table#panelistListProjectTable thead th.sorting_desc, table#recruiterListProjectTable thead th.sorting_desc
	{
	background: #000 url('../images/sort_desc.png') no-repeat right center;
	color: #FFFFFF;
}

table#panelistListProjectTable thead th.sorting, table#recruiterListProjectTable thead th.sorting
	{
	background: #4C4C4C url('../images/sort_both.png') no-repeat right
		center;
	color: #FFFFFF;
}
/* Header cells */
table#candidates thead th {
	background: #D2D1D1;
}
/* Body cells */
table#candidates tbody th {
	text-align: left;
	background: #91c5d4;
}
/* Header cells */
table#currentpanelistListProjectTable thead th {
	text-align: center;
	background: #0079a6;
}
/* Body cells */
table#currentpanelistListProjectTable tbody th {
	text-align: left;
	background: #91c5d4;
}

table#candidates tbody td {
	text-align: center;
	/* background: #d5eaf0; */
}

table#candidates tbody tr.even td {
	background: #FFFFFF;
}

table#candidates tbody tr.odd td {
	background: #E7E7E7;
}

table#candidates tr:last-child {
	
}

table#candidates tr.gradeX td {
	
}

table#currentpanelistListProjectTable tbody td {
	text-align: center;
	/* background: #d5eaf0; */
}

table#currentpanelistListProjectTable tbody tr.even td {
	background: #FFFFFF;
}

table#currentpanelistListProjectTable tbody tr.odd td {
	background: #E7E7E7;
	border-top: 1px solid #AAAAAA;
}

table#currentpanelistListProjectTable tr:last-child {
	border-bottom: 1px solid #AAAAAA;
}

table#currentpanelistListProjectTable tr.gradeX td {
	border-bottom: 1px solid #AAAAAA;
}

div.dataTables_wrapper {
	background-color: #FFFFFF;
	/*border: 1px solid #AAAAAA;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    
    border-bottom:none;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;*/
	padding: 0px 5px;
}

table#candidates thead th.sorting_asc {
	background: #1E1E1E url('../images/sort_asc.png') no-repeat right center;
	color: #FFFFFF;
}

table#candidates thead th.sorting_desc {
	background: #000 url('../images/sort_desc.png') no-repeat right center;
	color: #FFFFFF;
}

table#candidates thead th.sorting {
	background: #4C4C4C url('../images/sort_both.png') no-repeat right
		center;
	color: #FFFFFF;
}

.dataTable thead th.sorting_asc, table#currentpanelistListProjectTable thead th.sorting_asc
	{
	background: #1E1E1E url('../images/sort_asc.png') no-repeat right center;
	color: #FFFFFF;
}

.dataTable thead th.sorting_desc, table#currentpanelistListProjectTable thead th.sorting_desc
	{
	background: #000 url('../images/sort_desc.png') no-repeat right center;
	color: #FFFFFF;
}

.dataTable thead th.sorting, table#currentpanelistListProjectTable thead th.sorting
	{
	background: #4C4C4C url('../images/sort_both.png') no-repeat right
		center;
	color: #FFFFFF;
}

a.paginate_button, a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
}

select.chosen-campus-select {disable_search
	
}

div#chosen-campus-text {
	
}

div#chosen-campus-dropdown {
	margin: 10px;
	font-size: 25px;
}

span#chosen-campus {
	color: #AAAAAA;
}

span#chosen-campus-name {
	font-style: italic;
}

div.control-strip {
	margin-bottom: 10px;
	padding: 5px;
	/*border: 1px solid #AAAAAA;*/
	height: auto;
	min-height: 50px;
	border-top: 0px;
}

div.control-strip .button, div#addCampusPopup .button, div#gd-param-bar .button
	{
	-moz-box-sizing: content-box;
	background: none repeat scroll 0 0 #4c4c4c;
	border: 1px solid #333333;
	color: #FFFFFF;
	margin: 5px 0;
	padding: 10px;
	text-align: center;
	width: 90px;
	font-weight: bold;
	position: relative;
	display: block;
	font-size: 15px;
}

div.control-strip .button:hover, div#addCampusPopup .button:hover, div#gd-param-bar .button:hover
	{
	background: #333;
	cursor: pointer;
}

div#addCampusPopup .button {
	margin-left: 20%;
}

div#addCampusPopup label.description {
	float: left;
}

span#addrowCandTrigger {
	width: 200px;
	margin-right: 10px;
	float: left;
}

span#cancelCandTrigger {
	width: 100px;
	float: left;
	margin-right: 10px;
	display: none;
}

span#saveCandTrigger {
	width: 100px;
	float: right;
	margin-right: 10px;
	display: none;
}

span#finalizeCandTrigger, span#finalizePanelTrigger {
	width: 200px;
	float: right;
	margin-right: 10px;
	box-sizing: content-box;
	color: #ffffff;
	cursor: default;
}

span#finalizeCandTrigger.active, span#finalizePanelTrigger.active {
	cursor: pointer;
}

#candidates-details {
	overflow-x: auto;
}

div#detail-view {
	display: none;
	width: 928px;
	min-height: 100px;;
	height: auto;
	padding: 0px 5px;
	overflow: auto;
	border-top: 1px solid #4c4c4c;
}

div#cand-image {
	width: 170px;
}

.logospace h3 {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
}

.logospace {
	width: 100px;
	height: 100px;
	background-color: #AAAAAA;
	padding: 10px 5px 10px 5px;
}

form#candidateDetailsForm {
	display: block;
	overflow: auto;
}

input#cand-city, input#cand-pin {
	margin: 5px 0;
	padding: 5px;
	width: 80%;
}

span#city {
	width: 60%;
}

span#pin {
	width: 40%;
}

#address>div {
	clear: both;
}

div#states-div {
	width: 100%;
	margin: 5px 0px;
}

select#states {
	width: 95%;
	font-size: 1em;
	height: 30px;
	padding: 1%;
}

option.empty {
	color: grey;
}

textarea#cand-addressline {
	padding: 5px;
	margin: 5px 0px;
	resize: none;
	width: 280px;
	height: 78px;
}

div#group-discussion {
	border: 1px solid #AAAAAA;
	margin: 15px 5px 10px;
	padding: 5px 0px;
	overflow: auto;
}

ul#gd-nav {
	width: 99%;
	padding: 5px;
	overflow: auto;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

li.gd-nav {
	float: left;
	padding: 10px;
	width: 47.8%;
}

div.gd-body {
	display: block;
}

li#gd-customizer {
	border-right: 1px solid #AAAAAA;
}

li.gd-nav a {
	margin-left: 25%;
}

li.gd-nav:hover {
	background-color: #92D400;
}

li.gd-nav:hover a {
	color: #FFFFFF;
}

div.gd-content ul {
	overflow: auto;
	position: relative;
}

div.gd-content ul li {
	overflow: auto;
	padding: 5px;
	margin: 0px 5px;
}

input.gd-input {
	padding: 5px;
	width: 50px;
	float: right;
	margin-right: 20px;
}

h4.gd-form-title {
	float: right;
}

li.gd-nav h4 {
	padding: 5%;
	margin: 0px 0px 0px 25%;
}

a.gd-link>li>h4 {
	color: #4C4C4C;
}

a.gd-link:hover>li>h4 {
	color: #FFFFFF;
}

div#hiring-stats-container {
	height: auto;
	min-height: 100px;
	width: 85%;
}

div#hiring-stats-container.emptyForm {
	border: 2px dashed #AAAAAA !important;
}

div#hiring-stats-container.emptyForm>li {
	display: none;
}

div#carePopup {
	position: absolute;
	display: none;
	top: 200px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	border: 1px solid blue;
	padding: 20px;
	background-color: white;
}

div#carePopup #popupTitle {
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #AAA;
}

div#carePopup #popupBody {
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
}

div#carePopup #popupFooter {
	border-top: 1px solid #AAA;
}

.loading {
	background: #FFF url('../images/ajax-loader.gif') no-repeat center
		center !important;
}

#gd-accordion, #gd-accordion ul.gd-parent-ul, #gd-accordion ul.gd-content-ul,
	#gd-accordion li.gd-title-li, #gd-accordion li.gd-group-title-li,
	#gd-accordion li.gd-panel-li, #gd-accordion li.gd-group-li,
	#gd-accordion li.gd-title-li a, #gd-accordion li.gd-group-title-li a,
	#interview-accordion, #interview-accordion ul.interview-parent-ul,
	#interview-accordion ul.interview-content-ul, #interview-accordion li.interview-title-li,
	#interview-accordion li.interview-panel-title-li, #interview-accordion li.interview-panel-li,
	#interview-accordion li.interview-attendee-li, #interview-accordion li.interview-title-li a,
	#interview-accordion li.interview-panel-title-li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-size: 1em;
	position: relative;
}

#gd-accordion li.gd-title-li a, #gd-accordion li.gd-group-title-li a,
	#interview-accordion li.interview-title-li a, #interview-accordion li.interview-panel-title-li a
	{
	line-height: 1.3;
}

#gd-accordion {
	width: 99%;
}

#interview-accordion {
	margin-top: 30px;
	border: 2px solid #aaa;
	padding: 10px 5px;
}

#gd-accordion li.gd-title-li, li.gd-empty-group-title-li,
	#interview-accordion li.interview-title-li, #interview-accordion li.interview-panel-title-li,
	li.interview-empty-group-title-li
	/* ,#gd-accordion li.gd-group-li,#gd-accordion li.gd-panel-li */ {
	margin-left: 1.4%;
	width: 97%;
}

#interview-accordion li.interview-title-li {
	
}

#gd-accordion li.gd-title-li {
	border-bottom: 2px solid #444;
	margin-left: 0 !important;
	width: 100% !important;
}

#gd-accordion li.gd-title-li a, #interview-accordion li.interview-title-li a
	{
	padding: 15px 10px;
	border: none;
	/* border-top: 1px solid #656659; */
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
}

#gd-accordion li.gd-title-li a>span, #interview-accordion li.interview-title-li a>span
	{
	padding: 0;
	color: #4C4C4C;
	font-weight: bold;
}

#gd-accordion li.gd-title-li:hover, #interview-accordion li.interview-title-li:hover
	{
	background: #FFFFFF !important;
}

#gd-accordion li.gd-title-li, #gd-accordion li.gd-group-title-li,
	#gd-accordion li.gd-group-li, #interview-accordion li.interview-title-li,
	#interview-accordion li.interview-panel-title-li, #interview-accordion li.interview-group-li
	{
	background: #FFFFFF;
}

#gd-accordion li.gd-title-li:hover, #interview-accordion li.interview-title-li:hover
	{
	background: #B3EA3A;
}

#gd-accordion li.gd-group-title-li a, #interview-accordion li.interview-panel-title-li a
	{
	display: block;
	color: #AAAAAA;
	border: 1px solid #656659;
}

#gd-accordion li.gd-group-title-li a {
	border: none;
	border-bottom: 1px solid #656659;
}

#gd-accordion li.gd-group-title-li a>span, #interview-accordion li.interview-title-li a>span,
	#interview-accordion li.interview-panel-title-li a>span {
	display: block;
	padding: 12px 10px;
}

#interview-accordion li.interview-title-li h3 {
	text-align: center;
}

#gd-accordion li.gd-title-li a>span {
	padding: 12px 10px;
}

#gd-accordion li.gd-title-li>a:hover, #gd-accordion li.gd-group-title-li a:hover,
	#interview-accordion li.interview-title-li>a:hover,
	#interview-accordion li.interview-panel-title-li a:hover {
	text-decoration: none;
}

#gd-accordion li.gd-group-title-li.active {
	border-right: 1px solid #656659;
	border-left: 1px solid #656659;
}

#gd-accordion li.gd-title-li.active, #gd-accordion li.gd-group-title-li.active,
	#gd-accordion li.gd-group-li.active, #interview-accordion li.interview-title-li.active,
	#interview-accordion li.interview-panel-title-li.active,
	#interview-accordion li.interview-group-li.active {
	border-bottom: none;
}

#gd-accordion li.gd-group-title-li a span, #interview-accordion li.interview-panel-title-li a span
	{
	background: url(../images/icon_plus.png) 96% center no-repeat;
}

#gd-accordion li.gd-group-title-li.active>a span, #interview-accordion li.interview-panel-title-li.active>a span
	{
	background: url(../images/icon_minus.png) 96% center no-repeat;
	font-weight: bold;
}
/* Sub menu */
#gd-accordion ul.gd-content-ul, #interview-accordion ul.interview-content-ul
	{
	display: none;
	background: #fff;
	/* border-right: 1px solid #656659;
	border-left: 1px solid #656659; */
}

#gd-accordion li.gd-panel-li, #gd-accordion li.gd-group-li,
	#interview-accordion li.interview-panel-li, li.interview-attendee-li,
	#interview-accordion li.interview-group-li {
	padding: 0;
	border-bottom: 1px solid #656659;
	border-top: none;
	background: #FFFFFF;
	min-height: 40px !important;
	height: auto !important;
	overflow: auto !important;
}

#gd-accordion li.gd-group-li, #interview-accordion li.interview-group-li
	{
	border-bottom: 1px solid auto;
}

div#gd {
	border: 1px solid #AAAAAA;
	height: auto;
	margin: 20px 10px 10px;
	overflow: hidden;
	padding: 10px;
}

div#groupdiscussion-form-container {
	margin: 15px 5px 10px;
	padding: 5px;
}

select.gd-cand-list, select.gd-panel-list {
	width: 300px !important;
}

select.interview-cand-list, select.interview-panel-list {
	width: 300px !important;
}

#gd-accordion div.chosen-container {
	width: 800px !important;
	height: auto !important;
	overflow: visible !important;
	min-height: 40px !important;
	float: right;
}

#interview-accordion div.chosen-container {
	width: 800px !important;
	height: auto !important;
	overflow: visible !important;
	min-height: 40px !important;
	float: right;
}

li.gd-panel-li>span, li.gd-group-li>span {
	margin: 10px;
}

li.interview-panel-li>span, li.interview-group-li>span {
	margin: 10px;
}

#gd-accordion li.gd-panel-li, li.gd-group-li {
	padding: 5px !important;
}

#interview-accordion li.interview-panel-li, #interview-accordion li.interview-attendee-li,
	li.interview-group-li {
	padding: 7px 5px;
}

#gd-accordion li.search-field input {
	font-size: 1em;
	height: 25px !important;
}

#interview-accordion li.search-field input {
	font-size: 1em;
	height: 25px !important;
}

#gd-accordion a.search-choice-close {
	position: absolute !important;
	background: url("../images/chosen-sprite.png") no-repeat scroll -42px
		1px rgba(0, 0, 0, 0) !important;
	border-style: none !important;
}

#interview-accordion a.search-choice-close {
	position: absolute !important;
	background: url("../images/chosen-sprite.png") no-repeat scroll -42px
		1px rgba(0, 0, 0, 0) !important;
	border-style: none !important;
}

#gd-accordion li.search-choice a {
	margin: 7px 0 0;
}

#interview-accordion li.search-choice a {
	margin: 7px 0 0;
}

#gd-accordion li.search-choice {
	line-height: 23px;
}

#interview-accordion li.search-choselectItemice {
	line-height: 23px;
}

#gd-accordion li.gd-group-title-li.active a {
	background: #f7e5a0;
}

#interview-accordion li.interview-panel-title-li.active a {
	background: #F2E59E;
}

#gd-param-bar {
	padding: 10px 5px;
	margin-bottom: 10px;
}

#interview-param-bar {
	border: 2px solid #92D400;
	margin: 10px 0;
	overflow-y: auto;
	padding: 10px;
	width: 96%;
}

.btn#genGdTrigger {
	float: right;
}

div#interview-param-bar span#genGdTrigger {
	width: 200px;
	float: right;
}

label#sizeOfGdGroupLabel {
	text-align: right;
	padding-right: 10px;
}

input#sizeOfGdGroup {
	border: 1px solid #AAAAAA;
}

input#sizeOfGdGroup:focus {
	outline: none;
	border-color: #ccc;
}

input#sizeOfGdGroup.error {
	outline: none;
	border-color: #F45A5A;
}

.triangle-isosceles.left:after {
	border-color: rgba(0, 0, 0, 0) #92D400;
	border-width: 5px 13px 5px 0;
	bottom: auto;
	left: -10px;
	top: 6px;
}

.triangle-isosceles:after {
	border-color: #92D400 rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 50px;
	position: absolute;
	width: 0;
}

.triangle-isosceles.left {
	background: none repeat scroll 0 0 #92D400;
	margin-left: 50px;
}

.triangle-isosceles {
	background: linear-gradient(#F9D835, #F3961C) repeat scroll 0 0
		rgba(0, 0, 0, 0);
	border-radius: 10px;
	color: #000000;
	margin: 1em 0 3em;
	padding: 15px;
	position: relative;
}

p#groupSizePrompt {
	display: none;
	float: left;
	font-size: 0.8em;
	height: 5px;
	margin: 1.5em 0 1em 1em;
	padding-top: 1px;
	width: 150px;
	color: #FFFFFF;
}

li.gd-empty-group-title-li {
	margin-left: 1.4%;
	width: 97%;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	list-style: none outside none;
	position: relative;
	text-decoration: none;
	padding: 20px 0;
	border-top: none;
}

li.interview-empty-group-title-li {
	border: 1px solid #AAAAAA;
	margin-left: 1.4%;
	width: 97%;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	list-style: none outside none;
	position: relative;
	text-decoration: none;
	padding: 20px 0;
	border-top: none;
}

li.gd-empty-group-title-li span {
	color: #AAAAAA;
	font-style: italic;
}

li.interview-empty-group-title-li span {
	margin: 0 42%;
	color: #AAAAAA;
	font-style: italic;
}

span#bulkUploadTrigger {
	float: left;
	width: 25%;
}

span#bulkUploadButtonTrigger {
	float: left;
	margin-left: 10px;
	width: 18%;
}

div#candidate-details #progressbar {
	height: 20px;
}

div#candidate-details #statustxt {
	height: 20px;
}

div#candidate-details #progressbox {
	display: none;
}
/*Footer styling*/
div.footer {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #4D4D4D;
	bottom: 0;
	height: 2em;
	padding: 1% 20% 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

div.care-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
	/*the bottom margin is the negative value of the footer's height*/
	z-index: 10;
	margin-bottom: 16px;
}

.push {
	height: 2em; /* .push must be the same height as .footer */
}

div#footer {
	display: block;
	weight: 100%;
}

div#gd-control-strip {
	width: 97%;
}

div#interview-control-strip {
	width: 97%;
}

div#interview-control-strip .btn-success {
	float: right;
}

div#interview-control-strip .btn-warning {
	float: left;
}

.btn#finalizeGdTrigger {
	float: right;
}

span.empty {
	color: #d9534f;
	font-size: 20px;
}

li.gd-group-title-li.active {
	border-color: #B3EA3A;
	outline: medium none;
}

li.interview-panel-title-li.active {
	
}

span.gd-sub-title {
	width: 100px;
	clear: both;
}

span.interview-sub-title {
	width: 100px;
	clear: both;
}

div#interviewContainer {
	height: auto;
	margin: 20px 10px 10px;
	overflow: hidden;
	padding: 10px;
}

div#freeStudents {
	
}

div#freePanelists {
	
}

div#interviewMain {
	
}

div#freeStudentsTitle {
	
}

div#freePanelistsTitle {
	
}

div.sideTitle {
	border-color: #92D400;
}

ul.interviewList {
	border: 2px solid #AAA;
}

ul#freePanelistsList, ul#freeStudentsList {
	max-height: 300px;
	overflow-y: scroll;
}

li.firstListItem {
	
}

div.sideTitle p {
	margin-top: 5%;
	font-weight: bold;
}

li.emptyAttendee, li.emptyPanel {
	border: 2px dashed #AAAAAA;
	color: #AAAAAA;
	font-style: italic;
	height: auto;
	min-height: 30px;
	padding: 15px 10px 0;
	text-align: center;
}

ul.panelList, ul.attendeeList {
	padding: 0 10px !important;
	width: 96%;
}

ul.panelList {
	height: auto !important;
}

ul.attendeeList {
	height: 50px !important;
}

li.panelist, li.attendee {
	border: 2px solid #blue;
	height: 65%;
	padding: 15px 10px 0;
	text-align: center;
	color: #AAA;
	font-style: italic;
}

li.interview-panel-li {
	overflow: auto;
}

span#savePanelTrigger {
	float: right;
}

span#clearPanelTrigger {
	float: left;
}

li.cloneSeed {
	display: none;
}

/* li.interview-panel-title-li.active{
    margin-bottom: -10px !important;
    border-bottom: 1px solid #656659  !important;
} */
li.studentListItem {
	border-bottom: 1px solid #AAAAAA;
}
li.studentListItem:hover{
	background:#DEECF7;
}

li.studentListItem a {
	display: inline-block;
	padding: 10px 5px;
}

div.spacer {
	display: block;
}

span#interviewFinalzizeTrigger {
	width: 96%;
}

div.interviewFBox {
	float: left;
	height: 200px;
	margin: 5px;
	padding: 5px;
	width: 22.5%;
	border: 1px solid #ccc;
}

div#service {
	
}

div#id {
	
}

div#mgmt {
	
}

div#ldr {
	
}

div#interviewPanel {
	overflow: hidden;
	height: auto;
}

table.panelistTable td {
	padding: 5px;
	border: 1px solid #fff;
}

table.panelistTable thead th {
	text-align: center;
	background: #0079a6;
	color: #FFF;
}

div#verbosePart {
	height: auto;
	overflow: auto;
	width: 97.5%;
}

input.toggler:empty {
	margin-left: -999px;
}

input.toggler:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.toggler:empty ~ label:before, input.toggler:empty ~ label:after {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.toggler:empty ~ label:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}

input.toggler:checked ~ label:before {
	background-color: #393;
}

input.toggler:checked ~ label:after {
	margin-left: 2em;
}

label.verboseField {
	float: left;
	margin: 5px 0;
	padding: 5px;
	width: 300px;
}

input.verboseElement {
	margin: 5px 0;
	padding: 5px;
	width: 560px;
}

li#panelistLanding {
	/*margin-left: 34%;*/
	
}

input.gdParam {
	width: 20px
}

div.panelContainer {
	margin: 10px;
	padding: 10px;
}

div.panelTitle {
	background-color: #4C4C4C;
	color: #FFF;
	font-weight: normal;
	font-style: italic;
	padding: 20px 10px;
}

div.panelSubTitle {
	background-color: #AAA;
	color: #FFF;
	font-style: italic;
	padding: 10px 10px;
	border-bottom: 1px solid #AAA;
}

div#panelistLanding, div#panelistGd, div#panelistInterview {
	min-height: 300px !important;
	margin: 5px;
	border: 1px solid #AAA;
}

span#submtiGdFbTrigger {
	float: right;
	margin-right: 50px;
}

span#submtiInterviewFbTrigger {
	float: right;
	margin-right: 50px;
}

table.consensusTable, table#panelSummaryGd, table#panelGd {
	clear: both;
	padding: 10px 0;
	width: 100% !important;
}

table.consensusTable tbody tr:last-child, table#panelSummaryGd tbody tr:last-child,
	table#panelGd tbody tr:last-child {
	border-bottom: 1px solid #F1EEEE;
}

table.consensusTable thead tr, table#panelSummaryGd thead tr, table#panelGd thead tr
	{
	height: 50px;
}

table#panelGd thead th, table#panelSummaryGd thead th, table.consensusTable thead th
	{
	background: none repeat scroll 0 0 #1E1E1E;
	color: #FFFFFF;
	text-align: center;
}

table#panelGd tbody td, table#panelSummaryGd tbody td, table#consensusTable tbody td
	{
	/* background: none repeat scroll 0 0 #D5EAF0; */
	text-align: center;
	padding: 5px;
	text-align: center;
	color: #4C4C4C;
}

div#consensusListContainer {
	padding: 10px;
	margin: 5px;
	border: 1px solid #AAA;
	min-height: 300px;
	overflow: auto;
	height: auto;
}

.offer {
	background-color: green;
}

.onHold {
	background-color: yellow;
}

.noFurtherInterest {
	background-color: orange;
}

td.comments>span>textarea {
	resize: vertical;
}

input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #FFF;
	height: 10px;
	vertical-align: middle;
}

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #FFF;
	height: 10px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #92D400;
	box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #92D400;
	box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}

span#submitConsensusTrigger {
	float: right;
	margin-right: 36px;
}

div#consensus-control-strip {
	border-top: 1px solid #AAAAAA;
}

.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}

.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}

.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top
		right;
}

.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_disabled_previous, .paginate_disabled_next {
	color: #666666 !important;
}

.paginate_disabled_previous, .paginate_enabled_previous,
	.paginate_disabled_next, .paginate_enabled_next {
	color: #111111 !important;
	cursor: pointer;
	float: left;
	height: 19px;
}

.paginate_disabled_previous {
	background: url("../images/back_disabled.png") no-repeat scroll left top
		rgba(0, 0, 0, 0);
}

.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}

.paginate_disabled_next, .paginate_enabled_next {
	margin-left: 10px;
	padding-right: 23px;
}

div#panelistHomeTitle {
	font-size: 1.6em;
	font-style: normal;
	text-align: center;
}

table#panelGd tbody tr:nth-child(odd) td {
	background: none repeat scroll 0 0 #f5f5f5;
	/* border-top: 1px solid #AAAAAA; */
}

table#panelGd tbody tr:nth-child(even) td {
	background: none repeat scroll 0 0 #ffffff;
	/* border-top: 1px solid #AAAAAA; */
}

table#panelGd thead th {
	width: 90px;
}

table#panelGd {
	margin: 10px 0;
	padding: 5px;
}

table#panelGd thead tr th {
	border: 0;
	font-weight: normal;
	background: #e8e8e8;
	color: #696969;
}

table#panelGd tbody tr td {
	border: 0;
	font-weight: normal;
}

table#panelGd thead tr {
	
}

table#panelGd tbody tr {
	
}

div#panelGd {
	border: 1px solid #AAAAAA;
	margin: 5px;
	min-height: 300px !important;
}

table#panelGd tbody tr:nth-child(odd) td {
	background: none repeat scroll 0 0 #f5f5f5;
	/* border-top: 1px solid #AAAAAA; */
}

table#panelGd tbody tr:nth-child(even) td {
	background: none repeat scroll 0 0 #ffffff;
	/* border-top: 1px solid #AAAAAA; */
}

table#panelGd thead th {
	width: 75px;
}

table#panelSummaryGd {
	margin: 10px 0;
	padding: 5px;
}

table#panelSummaryGd thead tr th {
	border: 0;
	font-weight: normal;
	background: #e8e8e8;
	color: #696969;
}

table#panelSummaryGd tbody tr td {
	border: 0;
	font-weight: normal;
}

table#panelSummaryGd thead tr {
	
}

table#panelSummaryGd tbody tr {
	
}

div#panelSummaryGd {
	border: 1px solid #AAAAAA;
	margin: 5px;
	min-height: 300px !important;
}

div#panelistGdTitle {
	font-size: 1.6em;
	font-style: normal;
	text-align: center;
}

div#gdSubTitle, div#interviewSubTitle {
	font-style: normal;
}

ul#gdContainerUl li {
	height: 20px;
	margin-bottom: 15px;
}

ul#gdContainerUl li:last-child {
	margin-bottom: 0px;
}

ul#gdContainerUl li a span {
	width: 100%;
	background: url('../images/right-arrow.png') no-repeat left center;
	float: right;
	padding-left: 30px;
}

ul#interviewContainerUl li {
	height: 20px;
	margin-bottom: 15px;
}

ul#interviewContainerUl li:last-child {
	margin-bottom: 0px;
}

ul#interviewContainerUl li a {
	
}

ul#interviewContainerUl li a span {
	width: 100%;
	background: url('../images/right-arrow.png') no-repeat left center;
	float: right;
	padding-left: 30px;
}

input.totalVal {
	border: 3px solid #AAAAAA;
	float: left;
	text-align: center;
	font-size: 22px;
	height: 45px;
	max-width: 50px;
	min-width: 20px;
	padding-left: 0px;
	margin-left: 25px;
	width: auto;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

input.totalVal:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

input.totalVal.error {
	outline: none;
	border-color: #F45A5A;
	box-shadow: 0 0 10px #F45A5A;
}

textarea.commentsVal {
	border: 1px solid #F1EEEE;
	float: left;
	font-size: 1em;
	width: auto;
	resize: none;
}

textarea.commentsVal:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

textarea.commentsVal.error {
	outline: none;
	border-color: #F45A5A;
	box-shadow: 0 0 10px #F45A5A;
}

textarea.blurb {
	resize: none;
	height: auto;
	bottom: 0px;
	/* position:absolute; */
}

div.ibPicker {
	padding: 10px 0;
}

div.ibTitle {
	border-bottom: 1px solid #C8E5F4;
	font-weight: bold;
	height: 78px;
	padding: 5px;
	text-align: center;
}

output {
	text-align: center;
	color: #5D9CD1;
}

.ibBlurb textarea {
	width: 100%;
	border: 1px solid #ccc;
}

div.ibTitle span.title {
	width: auto;
}

div#campus-control-strip {
	
}

span#saveBtClkTrigger {
	width: 200px;
	text-align: center;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: right;
}

select#slots {
	width: 100px !important;
}

select#tier {
	width: 100px !important;
}

div#campus-form-container div.chosen-container a span, div.chosen-drop ul li
	{
	font-size: 15px;
}

p.newCampus {
	font-size: 2em;
	color: black;
}

#gd-accordion li.gd-panel-li, #gd-accordion li.gd-group-li {
	height: auto !important;
	min-height: 30px;
	overflow: visible !important;
	padding: 5px !important;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

span#genGdTrigger, span#finalizeGdTrigger {
	background: #aaa !important;
	cursor: default !important;
}

span#genGdTrigger.active, span#finalizeGdTrigger.active {
	background: #4c4c4c !important;
	cursor: pointer !important;
}

div#admin {
	clear: both;
	padding: 20px;
}

#displayRowDetailsPanelist table {
	margin: 10px 0;
}

#displayRowDetailsPanelist .btn {
	margin: 10px;
	float: right;
}

#displayRowDetailsPanelist .labelname, #displayRowDetailsRecruiter .labelname
	{
	text-align: right;
}

#displayRowDetailsPanelist input[type='text'],
	#displayRowDetailsRecruiter input[type='text'] {
	width: 100%;
}

#selectAdminOption {
	clear: both;
	padding: 5px 0;
	width: 100%;
}

table#panelistListProjectTable, table#recruiterListProjectTable {
	width: 100% !important;
	clear: both;
}

.overlayPop {
	position: fixed;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	top: 0;
	left: 0;
}

#addPanelistButton, #addRecruiterButton {
	float: right;
}

#displayRowDetailsRecruiter, #addPanelistPopup, #addRecruiterPopup {
	clear: both;
	padding: 10px 0;
}

tr.selected td {
	background-color: green !important;
	color: #fff !important;
}

#deletePanel, #addPanel {
	float: right;
	margin-right: 10px;
}

.inteview-cutoff {
	margin: 15px 0;
}

.cutoff-container, .eligible-container {
	margin: 10px 0;
	padding-right: 10px;
}

.cutoff-container>label, .eligible-container>label {
	text-align: right;
}

.cutoff-container input, .eligible-container input {
	width: auto;
	margin: 0;
}

.cutoff-container .button, .eligible-container .button {
	background: none repeat scroll 0 0 #4c4c4c;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 8px;
	margin-left: 10px;
	padding: 10px 15px;
}
/*login message*/
#loginerror {
	color: red;
	margin-left: 4.5em;
}
/* imran */
div.error-msg {
	color: red;
}

input.validation-error {
	border: 2px solid red;
}

img#campusLogoImg, #logoImgPreview {
	width: "100px";
	height: "100px";
}

#add-campus {
	margin-top: -5px;
}

#addCampusPopup {
	margin: 10px;
}

#addCampusTrigger {
	margin: 10px 0;
}

#left-col ul li {
	margin: 10px 0;
}

.header-highlight {
	color: #5cb85c;
}

#candidate-details {
	overflow-x: auto;
}