@charset "utf-8";
/* Define all styles for the CaRe tool here*/
html {
	background-color: #DDDDDD;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, div, span, ol, table, tr, td,
	th, dl, dd, dt, input, select, textarea {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri,
		"Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
		"DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
		Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #4C4C4C;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	background-color: #eee;
	min-height: 100%;
	height: auto;
	color: #fff;
	background-image: url('../images/dark.jpg');
	background-size: cover;
	background-position: center;
	font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: : uppercase;
	line-height: 100%;
	margin-top: 0%;
}

a {
	text-decoration: none;
}

a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
	border: none;
	outline: 0;
}
ul {
	padding: 5px;
}
/*Main CSS*/
html {
	background-color: #DDDDDD;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

.hidden {
	display: none;
}

/* Care container */
.care-container {
	margin: 20px 0;
}

/* Care sidebar */
.care-sidebar {
	padding: 20px 0 10px 0;
	background: #fff;
}

.care-userpic img {
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.care-usertitle {
	text-align: center;
	margin-top: 20px;
}

.care-usertitle-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.care-usertitle-job {
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.care-userbuttons {
	text-align: center;
	margin-top: 10px;
}

.care-userbuttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.care-userbuttons .btn:last-child {
	margin-right: 0px;
}

.care-usermenu {
	margin-top: 30px;
}

.care-usermenu ul li {
	border-bottom: 1px solid #f0f4f7;
}

.care-usermenu ul li:last-child {
	border-bottom: none;
}

.care-usermenu ul li a {
	color: #93a3b5;
	font-size: 14px;
	font-weight: 400;
}

.care-usermenu ul li a i {
	margin-right: 8px;
	font-size: 14px;
}

.care-usermenu ul li a:hover {
	background-color: #fafcfd;
	color: #5b9bd1;
}

.care-usermenu ul li.active {
	border-bottom: none;
}

.care-usermenu ul li.active a {
	color: #5b9bd1;
	background-color: #f6f9fb;
	border-left: 2px solid #5b9bd1;
	margin-left: -2px;
}

/* care Content */
.care-content {
	padding: 20px;
	background: #fff;
	min-height: 460px;
	overflow:auto;
	height:auto;
}

.page {
	display: none;
}

#campusdetails {
	display: block;
}

.content {
	padding: 30px;
	background: #f1f3fa;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
}

.portlet.portlet-gray {
	background: #f7f7f7;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
	min-height: 40px;
	border-bottom: 1px solid #eee;
	margin-bottom: 18px;
}

.caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
}

.caption.caption-green .caption-subject, .caption.caption-green i {
	color: #4db3a2;
	font-weight: 200;
}

.caption.caption-red .caption-subject, .caption.caption-red i {
	color: #e26a6a;
	font-weight: 200;
}

.caption.caption-purple .caption-subject, .caption.caption-purple i {
	color: #8775a7;
	font-weight: 400;
}

.caption i {
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px;
}

.caption-subject {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}

/* Actions */
.actions {
	float: right;
	display: inline-block;
}

.actions a {
	margin-left: 3px;
}

.actions .btn {
	color: #666;
	padding: 3px 9px;
	font-size: 13px;
	line-height: 1.5;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 50px;
}

.actions .btn i {
	font-size: 12px;
}

.actions .btn:hover {
	background: #f2f2f2;
}

/* Pagination */
.pagination {
	margin: -3px 0 0;
	border-radius: 50px;
}

.pagination>li>a, .pagination>li>span {
	padding: 4px 10px;
	font-size: 12px;
	color: #8775a7;
	background: #f7f7f7;
}

.pagination>li:hover>a, .pagination>li.active>a, .pagination>li.active:hover>a
	{
	color: #fff;
	background: #8775a7;
	border-color: #8775a7;
}

/* Inputs */
.inputs {
	float: right;
	display: inline-block;
	padding: 4px 0;
	margin-top: -10px;
}

.input-inline {
	width: 240px;
	display: inline-block;
	vertical-align: middle;
}

/* Tab */
.portlet-title>.nav-tabs {
	background: none;
	margin: 0;
	float: right;
	display: inline-block;
	border: 0;
}

.portlet-title>.nav-tabs>li {
	background: none;
	margin: 0;
	border: 0;
}

.portlet-title>.nav-tabs>li>a {
	background: none;
	border: 0;
	padding: 2px 10px 13px;
	color: #444;
}

.portlet-title>.nav-tabs>li.active, .portlet-title>.nav-tabs>li.active:hover
	{
	border-bottom: 4px solid #f3565d;
	position: relative;
}

.portlet-title>.nav-tabs>li:hover {
	border-bottom: 4px solid #f29b9f;
}

.portlet-title>.nav-tabs>li.active>a, .portlet-title>.nav-tabs>li:hover>a
	{
	color: #333;
	background: #fff;
	border: 0;
}

/* Btn Circle */
.actions .btn.btn-circle {
	width: 28px;
	height: 28px;
	padding: 3px 7px;
	text-align: center;
}

.actions .btn.btn-circle i {
	font-size: 11px;
}

/* Btn Grey Salsa */
.actions .btn.grey-salsa {
	border: none;
	margin-left: 3px;
	box-shadow: none;
	border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
	color: #fafcfb;
	background: #8e9bae;
}

.actions .grey-salsa.btn:hover, .actions .grey-salsa.btn:focus, .actions .grey-salsa.btn:active,
	.actions .grey-salsa.btn.active {
	color: #fafcfb;
	background: #97a3b4;
}

/* Btn Red */
.actions .btn.btn-red.active, .actions .btn.btn-red:hover {
	color: #fff;
	box-shadow: none;
	background: #e26a6a;
	border-color: #e26a6a;
}

/* Btn Red */
.actions .btn.btn-purple.active, .actions .btn.btn-purple:hover {
	color: #fff;
	box-shadow: none;
	background: #8775a7;
	border-color: #8775a7;
}

select::-ms-expand {
	width: 12px;
	border: none;
	background: #fff;
}

#panelistHome {
	display: block;
}