.chart {
	width    : 50%;
	height   : 450px;
	font-size: 11px;
	position : relative;
	float: left;
}
.chart > div {
	width: 100%;
	height: 100%;
}

#reportcontainer
{
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 15%;
}
#header1
{
	color : #002776 !important;
	text-align:center;
	font-size : 28pt;
}
#header2
{
	color : #002776 !important;
	float : right;
	margin-right: 11%;
	margin-bottom : 3.5% !important;
	font-size : 28pt;
}
.chart > .img {
	position: absolute;
	z-index: 1;
	pointer-events: none;
}
.chart > .img img {
	width: 80px;
	height: 80px;
}

.chart > .img label {
	position: absolute;
	top: 35px;
	left: -50%;
	white-space: nowrap;
}

.chart > .img:nth-child(1) {
	top: 23%;
	left: 0%;
}
.chart > .img:nth-child(2) {
	top: 49.5%;
	left: 7%;
}
.chart > .img:nth-child(3) {
	top: 68%;
	left: 12%;
}

@media(max-width: 1000px) {
	.chart > .img img {
		width: 60px;
		height: 60px;
	}
}
@media(max-width: 600px) {
	.chart > .img img {
		width: 40px;
		height: 40px;
	}
}

.amcharts-funnel-item:nth-child(4) {
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	transform: translate(0, -10px);
}
.amcharts-funnel-item:nth-child(3) {
	-webkit-transform: translate(0, 20px);
	-moz-transform: translate(0, 20px);
	transform: translate(0, 20px);
}
.amcharts-funnel-item:nth-child(2) {
	-webkit-transform: translate(0, 40px);
	-moz-transform: translate(0, 40px);
	transform: translate(0, 40px);
}
.amcharts-funnel-item:nth-child(1) {
	-webkit-transform: translate(0, 60px);
	-moz-transform: translate(0, 60px);
	transform: translate(0, 60px);
}
.amcharts-funnel-item text tspan:nth-child(1) {
	font-weight: bold;
}

.box {
	position: relative;
	width: 38%;
	margin: 10px auto 0 auto;
	top: -60px;
	left: 10px;

	background: #002776;
	color: #FFFFFF;
	text-align: center;
	padding: 6px 12px;
}
.box.light {
	background-color: #CCDDFF;
	color: #000000;
}